.containerpride{
    background-image: url("https://i.postimg.cc/Rhdp8c85/pridewatchesapple.png");
    background-repeat: no-repeat;
    width: 725px;
    height: 630px;
    background-position: 50% 50%;
    margin-right: 15px;
    margin-top: 10px;
}

.titulopride{
    background-image: url('https://www.apple.com/v/home/ao/images/logos/watch-pride/promo_logo_pride__dpzv5qdo3com_large.png');
    background-repeat: no-repeat;
    max-height: 55px;
    height: 55px;
    margin-left: -310px;
    margin-top: 20px;
}

.titulopridetop{
    color: rgb(29, 29, 31);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 40px;
    font-weight: 600;
    margin-left: -345px;
    margin-bottom: -30px;
}

.linkspride{
    display: flex;
    margin-top: -50px;
    margin-left: -415px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 102, 204);
}

.linkspride :hover{
    text-decoration: underline;
}

.li_linkpride{
    margin-right: 20px;
}
