.containerwwdc{
    background-image: url("https://i.postimg.cc/RZQdbVxw/wwdcback.png");
    background-repeat: no-repeat;
    width: 750px;
    height: 630px;
    background-position: 90% 10%;
    margin-right: 15px;
}
.titulowwdc{
    background-image: url('https://www.apple.com/v/home/ao/images/logos/wwdc-announce/wwdc22_logo__f39kr8derwya_large.png');
    background-repeat: no-repeat;
    max-height: 55px;
    height: 55px;
    margin-left: -290px;
    margin-bottom: -40px;
    margin-top: 420px;
}

.titulo1{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 22px;
    font-weight: 400;
    margin-left: -360px;
}
.titulo2{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 22px;
    font-weight: 400;
    margin-left: -347px;
    margin-top: -20px;
}

.linkswwdc{
    display: flex;
    margin-top: -50px;
    margin-left: -287px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 102, 204);
}

.linkswwdc :hover{
    text-decoration: underline;
}
